---
// @ts-nocheck
import "../styles/globals.css";

import Controller from "../components/Controller"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>COMS10015 Flashcards</title>
	</head>
	<body>
		<Controller client:load />
	</body>
</html>
